{{#if todos}}
    {{#each todos}}
        <div data-id={{id}} class="todo-container">
            <div class="todo-title">{{title}}</div>
            <div class="todo-time">{{time}}</div>
            <div>{{date}}</div>
            <div>{{completed}}</div>
            <input type="checkbox" class="todo-checkbox">
        </div>
    {{/each}}
{{else}}
    <div class="todo-container">
      <div>No plans at the moment...</div>
      <a href="/#new_todo">Add Todo</a>
    </div>
{{/if}}
